

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0;

  clip-path: inset(100%);
}

:root {
  --font-family: "Sora";
  --font-size: 1rem;

  --modal-background: hsl(0deg 0% 7% / 88%);
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);
  --Blue-600: hsl(214, 100%, 55%);
  --Blue-400: hsl(210, 100%, 65%);
  --Red-500: hsl(354, 63%, 57%);
  --Green-500: hsl(140, 63%, 57%);
  --Yellow-400: hsl(49, 85%, 70%);
}

@font-face {
  font-family: "Sora";

  src: url("./assets/fonts/Sora/Sora-VariableFont_wght.woff2") format("woff2-variations"),
  url("./assets/fonts/Sora/Sora-VariableFont_wght.woff2") format("woff2"),
  url("./assets/fonts/Sora/Sora-VariableFont_wght.woff") format("woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.title {
  margin: 0;
  color: var(--neutral-0);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  color: var(--neutral-0);
  background-color: var(--neutral-900);
}

.container {
  margin: 0 auto;
  max-width: 90rem;

  padding-inline: 1.13rem;
}

/* header*/
.header {
  padding-block-start: .87rem;
  padding-block-end: 1rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;

  margin-inline-end: .63rem;
}

.achievement {
  display: flex;
  flex-shrink: 0;
  line-height: 1;
  white-space: nowrap;
}

.achievement__img {
  display: block;
  margin-right: .62rem;
}

.achievement__text {
  font-size: .94rem;
  color: var(--neutral-400);

  margin-inline-end: .19rem;
}

.achievement__text-desc {
  display: none;
  font-size: 1.06rem;
  color: var(--neutral-400);

  margin-inline-end: .12rem;
}

.achievement__value {
  margin-top: .125rem;
  font-size: .93rem;
  text-transform: uppercase;
}

.achievement__text,
.achievement__value {
  display: flex;
  align-items: center;
}

.main {
  position: relative;
  flex: 1 0 auto;
}

/*stats*/
.sections-wrapper {
  display: flex;
  flex-direction: column;

  padding-block-end: 1rem;
}

.stats-bar {
  padding-block-start: 1.13rem;
  padding-block-end: .93rem;
}

.stats-bar__list {
  position: relative;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.stats-bar__item {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-inline-start: .94rem;
  padding-inline-end: .94rem;
}

.stats-bar__item:not(:last-child) {
  border-right: 1px solid var(--neutral-800);
}

.stats-bar__item:first-child {
  align-items: flex-start;
}

.stats-bar__item:last-child {
  align-items: flex-end;
}

.stats-bar__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stats-bar__label {
  margin-block-end: .56rem;
}

.stats-bar__label--uppercase {
  text-transform: uppercase;
}

.stats-bar__value {
  display: inline-block;
  min-width: 3ch;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;

  font-variant-numeric: tabular-nums;
}

.stats-bar__value--accuracy {
  color: var(--Red-500);
}

.stats-bar__value--timer {
  color: var(--Yellow-400);
}

/*controls*/

.controls {
  display: block;
}

.controls__container {
  display: flex;

  gap: .62rem;
}

.controls__details {
  position: relative;
  flex: 1;
}

.controls__label {
  display: flex;
  padding: .44rem .625rem;
  color: var(--neutral-400);
  cursor: pointer;

  gap: .75rem;
}

.controls__label:hover {
  background-color: rgba(255, 255, 255, .05);
}

.controls__label .controls__radio {
  display: grid;
  margin: 0;
  width: 1rem;
  height: 1rem;
  border: 2px solid #444444;
  border-radius: 50%;
  cursor: pointer;

          appearance: none;
  -webkit-appearance: none;
  place-content: center;
}

.controls__label .controls__radio:checked {
  border: 6px solid var(--Blue-600);
}

.controls__label:has(input:checked) {
  color: #ffffff;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.controls__list {
  position: absolute;
  z-index: 1000;
  right: 0;
  bottom: -6.625rem;
  left: 0;
  border-radius: 8px;
  background-color: var(--neutral-800);
}

.controls__list--mode {
  bottom: -4.688rem;
}

.controls__item:not(:last-child) {
  border-bottom: 1px solid var(--neutral-500);
}

.controls__select {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--neutral-400);
  border-radius: 8px;

  padding-block: 6px;
  padding-inline: 10px;
}

.controls__select-text {
  display: block;
  margin-right: .56rem;
  font-size: .94rem;
}

.controls__details[open] .controls__select-arrow {
  transform: rotate(180deg);
}

.controls-bar {
  display: none;
}

.controls-bar__group {
  display: flex;
  align-items: center;
}

.test {
  position: relative;
  margin-bottom: 1.6rem;
}

.test__display {
  position: relative;
  font-size: 2rem;
  line-height: 1.3;
  color: var(--neutral-400);
  border-top: 1px solid var(--neutral-800);

  padding-block: 2.25rem;
}

.test__display::after {
  content: "";
  position: absolute;
  right: 1.25rem;
  bottom: 0;
  left: 1.25rem;
  height: 1px;
  opacity: 0;
  background-color: var(--neutral-800);
}

.test__display--active::after {
  opacity: 1;
}

.test__words {
  cursor: pointer;
}

/*not-started*/
.modal-not-started {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

          backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  inset: 0;
}

.modal-not-started__btn {
  font-size: 1.19rem;
  font-weight: 600;
  color: var(--neutral-0);
  border-radius: 12px;
  outline: none;
  background-color: var(--Blue-600);
  cursor: pointer;

  margin-block-end: .75rem;
  padding-block: 1.12rem;
  padding-inline: 1.69rem;
}

.modal-not-started__btn:focus-visible {
  outline: 2px solid var(--Blue-400);
  outline-offset: 2px;
}

.modal-not-started__btn:hover {
  background-color: var(--Blue-400);
}

.modal-not-started__text {
  margin: 0;
  font-size: 1.19rem;
  font-weight: 600;
}

.char--current {
  background: hsl(0deg 1% 59% / 18%);
}

.char--correct {
  color: var(--Green-500);
}

.char--error {
  color: var(--Red-500);
  text-decoration: underline;
}

/*modal*/
.modal {
  background-color: var(--neutral-900);
}

.modal--hidden {
  display: none;
}

.modal__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal__header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-block-start: 4.4rem;
}

.modal__header-results {
  display: none;
}

.modal__header-new {
  display: none;

  padding-block-start: 1.88rem;
}

.modal__img-new {
  margin-block-end: 2.12rem;
}

.modal__header-baseline {
  display: none;

  padding-block-start: 1.9rem;
}

.modal__svg::before {
  content: "";
  position: absolute;
  top: 27%;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("./assets/images/pattern-star-2.svg") no-repeat center / contain;
}

.modal__svg::after {
  content: "";
  position: absolute;
  right: 4%;
  bottom: -217%;
  width: 34px;
  height: 34px;
  background: url("./assets/images/pattern-star-1.svg") no-repeat center / contain;
}

.modal__confetti {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  pointer-events: none;

  object-fit: cover;
  object-position: bottom;
}

@keyframes confettiPopIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal__confetti--hidden {
  display: none;
}

.modal__wrapper-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2.625rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #26a69a;
  box-shadow: 0 0 0 10px rgba(38, 166, 154, .2),
  0 0 0 20px rgba(38, 166, 154, .1);
}

.modal__title {
  margin-bottom: .62rem;
  font-size: 1.5rem;
}

.modal__message {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: .93rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--neutral-400);
  text-align: center;
}

.modal__stats {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-block-end: 2.62rem;
  gap: 1.13rem;
}

.modal__stat-item {
  display: flex;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid var(--neutral-800);
  border-radius: 8px;

  padding-inline-start: 1.44rem;
  padding-block-start: 1.06rem;
  padding-block-end: .81rem;
}

.modal__stat-title {
  font-size: 1.19rem;
  color: var(--neutral-400);

  margin-block-end: .5rem;
}

.modal__stats-wrapper {
  display: flex;
}

.modal__stat-value {
  font-size: 1.5rem;
}

.modal__stat-value--accuracy {
  color: var(--Red-500);
}

.modal__stat-value--correct {
  color: var(--Green-500);
}

.modal__stat-value--divider {
  color: var(--neutral-400);
}

.modal__stat-value--errors {
  color: var(--Red-500);
}

/*toolbar*/
.toolbar {
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;

  padding-block-end: 9.375rem;
}

.toolbar--visible {
  opacity: 1;
  pointer-events: all;
}

.toolbar__btn {
  display: flex;
  align-items: center;
  padding: 1.13rem 1.06rem 1rem 1.06rem;
  font-size: 1.188rem;
  font-weight: 500;
  border-radius: 12px;

  gap: .75rem;
}

.toolbar__btn[data-state="test"] {
  color: var(--neutral-0);
  background-color: var(--neutral-800);
}

.toolbar__btn[data-state="test"] svg {
  fill: var(--neutral-0);
}

.toolbar__btn[data-state="baseline"] {
  color: var(--neutral-800);
  background-color: var(--neutral-0);
}

.toolbar__btn[data-state="baseline"] svg {
  fill: var(--neutral-800);
}

.toolbar__btn[data-state="complete"] {
  color: var(--neutral-800);
  background-color: var(--neutral-0);
}

.toolbar__btn[data-state="complete"] svg {
  fill: var(--neutral-800);
}

@media (prefers-reduced-motion: no-preference) {
  .controls__label {
    transition: background-color .3s ease-in-out;
  }

  .controls__select-arrow {
    transition: transform .3s ease;
  }

  .test__display::after {
    transition: opacity .3s ease;
  }

  .modal-not-started__btn {
    transition: background-color .3s ease;
  }

  .toolbar {
    transition: opacity .3s ease;
  }

  .toolbar__btn[data-state="test"] svg {
    transition: fill .3s ease;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .modal__confetti {
    animation: confettiPopIn .6s ease-out forwards;
  }
}

@media (min-width: 48rem) {
  .header__logo-img {
    width: 16.7rem;
  }

  .achievement__text {
    display: none;
  }

  .achievement__text-desc {
    display: block;
  }

  .achievement__value {
    margin-top: 0;
  }

  .modal {
    margin-block-end: 1.62rem;
  }

  .modal__container {
    max-width: 53%;
  }
}

@media (min-width: 75rem) {
  .sections-wrapper {
    display: grid;

    grid-template-columns: 1fr 1fr;
    padding-block-start: 3.12rem;
    padding-block-end: .87rem;
  }

  .stats-bar {
    padding-block: 0;
  }

  .stats-bar__item-wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .stats-bar__label {
    font-size: 1.13rem;
    color: var(--neutral-400);

    margin-block-end: 0;
    margin-inline-end: .87rem;
  }

  .controls {
    display: none;
  }

  .controls-bar {
    display: flex;

    gap: 2.25rem;
  }

  .controls-bar__container {
    display: flex;
    align-items: center;
  }

  .controls-bar__group:not(:last-child) {
    margin-inline-end: .62rem;
  }

  .controls-bar__label {
    color: var(--neutral-400);

    margin-inline-end: .87rem;
  }

  .controls-bar__options {
    display: flex;
  }

  .controls-bar__btn {
    color: var(--neutral-0);
    border: 1px solid var(--neutral-400);
    border-radius: .5rem;

    padding-block: .313rem;
    padding-inline: .375rem;
  }

  .controls-bar__btn--active {
    color: var(--Blue-600);
    border-color: var(--Blue-600);
  }

  .controls-bar__btn:not(:last-child) {
    margin-inline-end: .25rem;
  }

  .test__display {
    font-size: 2.25rem;

    margin-block-end: 2.12rem;
  }

  .modal__wrapper-img {
    width: 64px;
    height: 64px;

    margin-block-end: 3.75rem;
  }

  .modal__svg::before {
    top: 50%;
    left: -48%;
    width: 32px;
    height: 32px;
  }

  .modal__svg::after {
    right: -47%;
    bottom: -54%;
    width: 73px;
    height: 73px;
  }

  .modal__stats {
    display: grid;
    max-width: 82%;

    grid-template-columns: 1fr 1fr 1fr;
  }

  .modal__title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  .modal__message {
    margin-bottom: 3rem;
    font-size: 1.19rem;
  }
}

.attribution {
  flex-shrink: 0;
  margin-top: auto;
  font-size: .688rem;
  text-align: center;

  padding-block: 1.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
